*.gem
*.rbc
.bundle
.config
.project
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Sublime
*.sublime-project
*.sublime-workspace

# YARD artifacts
.yardoc
_yardoc
doc/
Gemfile.lock